@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.app{
    height: 100vh;
    width: 98.9vw;
    background-image: linear-gradient(to right,#F43B86,#3D087B);
}
.flexer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 98vw;
}
.container{
    height: 40vh;
    width: 40vw;
    background-color: white;
    border-radius: 30px;
    display: flex;
}
.left{
    height: 100%;
    width: 20vw;
}
.right{
    height: 100%;
    width: 20vw;
}
.top{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.top>h1{
    font-size: 5rem;

}
.bottom_left>input{
    outline: none;
    height: 3.5vh;
    width: 10vw;
    text-align: center;
    border-radius: 5px;
    border: .2px solid black;
}
.bottom_right>select{
    outline: none;
    background-color: white;
    height: 3.5vh;
    width: 7vw;
    border-radius: 10px;
}
.bottom>h1{
    font-size: 1rem;
}
.top>h1>span{
    font-size: 1.5rem;
}
.devteam{
    height: 15vh;
    width:98vw;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.devmembername{
    height: 7vh;
    width: 10vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.devmembername:hover{
    transform: translateY(-5px);
    transition: all .5s;
}
.devteam_center{
    display: flex;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;
}
.heading{
    font-size: 6rem;
    color: white;
    margin-bottom: 50px;
}